<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/join-club.css">
</head>
<body>
    <div id="app">
        <main class="joinclub-page">
            <section class="auth-section">
                <h1>Get Premium</h1>

                <form id="form" action="/join-club" method="post" novalidate>
                
                    <div class="formfield">
                        <label for="passcode">Passcode</label>
                        <div id="passcodeErr" class="error"></div>
                        <input id="passcode" name="passcode" type="text" inputmode="numeric" pattern="[0-9]*" maxlength="6" required placeholder="123456">
                    </div>

                    <button class="join-btn" type="submit">Join Club</button>
                </form>
            </section>
        </main>
    </div>

    <script>
        const form = document.getElementById("form");
        const input = document.getElementById("passcode");
        const container = document.getElementById("passcodeErr");

        form.addEventListener("submit", (e) => {
            e.preventDefault();

            container.replaceChildren();

            const errors = []

            if (input.validity.valueMissing) {
                errors.push('Value is required')
            }

            if (input.validity.tooLong) {
                errors.push(`Cannot exceed ${input.maxLength} characters.`)
            }

            if (input.validity.patternMismatch) {
                errors.push('Only numbers are allowed')
            }
                
            if (input.value !== '<%= clubPasscode %>' ) {
                errors.push('Wrong passcode');
            }

            if (errors.length > 0) {
                errors.forEach((msg) => {
                    const p = document.createElement('p');
                    p.textContent = msg;
                    container.appendChild(p);
                })
            }

            if (errors.length === 0) {
                form.submit();
            }
        })
    </script>
</body>