<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/sign-up.css">
</head>
<body>
    <div id="app">
        <main class="signup-page">
            <section class="signUpSection">
                <h1>Sign Up</h1>
                <form action="/sign-up" method="post" class="form" id="form" novalidate>

                    <div class="formFieldContainer">
                        <label for="firstName">* Firstname</label>
                        <div id="fnError" class="error"></div>
                        <input type="text" name="firstName" id="firstName" maxlength="60" pattern="^[^0-9]+$" required>
                    </div>

                    <div class="formFieldContainer">
                        <label for="lastName">* Lastname</label>
                        <div id="lnError" class="error"></div>
                        <input type="text" name="lastName" id="lastName" maxlength="60" pattern="^[^0-9]+$" required>
                    </div>

                    <div class="formFieldContainer">
                        <label for="username">* Username</label>
                        <div id="unError" class="error"></div>
                        <input type="text" name="username" id="username" maxlength="60" pattern="^[a-z][a-z0-9]*$" required>
                    </div>

                    <div class="formFieldContainer">
                        <label for="password">* Password</label>
                        <div id="pwError" class="error"></div>
                        <input type="password" name="password" id="password" minlength="8" maxlength="128" required>
                    </div>

                    <div class="formFieldContainer">
                        <label for="confirmPassword">* Confirm password</label>
                        <div id="cpwError" class="error"></div>
                        <input type="password" name="confirmPassword" id="confirmPassword" required>
                    </div>

                    <div class="btn-group">
                        <a href="/" class="backLink">Back</a>
                        <button type="submit" class="signUpBtn">Sign Up</button>
                    </div>

                </form>
                <p class="signin-footer">
                    Have an account?
                    <a href="/sign-in">Sign In</a>
                </p>
            </section>
        </main>
    </div>

    <script>
        const form = document.getElementById('form');

        const fields = [ 
            { input: 'firstName', error: 'fnError', type: 'name' },
            { input: 'lastName', error: 'lnError', type: 'name' },
            { input: 'username', error: 'unError', type: 'username' },
            { input: 'password', error: 'pwError', type: 'password' },
            { input: 'confirmPassword', error: 'cpwError', type: 'confirmPassword' }
        ];

        form.addEventListener('submit', function(e) {
            e.preventDefault();

            let allValid = true;

            fields.forEach((f) => {
                const inputEl = document.getElementById(f.input);
                const errorEl = document.getElementById(f.error);
                const valid = showErrors(inputEl, errorEl, f.type);
                if (!valid) allValid = false;
            })

            if (allValid) {
                form.submit();
            }
        })

        function showErrors(input, container, type) {
            container.replaceChildren();
            const errors = [];

            if (input.validity.valueMissing) {
                errors.push('Value is required.');
            }

            if (input.validity.tooLong) {
                errors.push(`Cannot exceed ${input.maxLength} characters.`);
            }
            
            if (type === 'password') {
                if (input.validity.tooShort) {
                    errors.push(`Password must be at least ${input.minLength} characters.`);
                }
            }
         
            if (input.validity.patternMismatch) {
                if (type === 'name') errors.push('Numbers not allowed')
                if (type === 'username') errors.push('Lowercase letters and numbers only, must start with a letter.');
            }
            

            if (type === 'confirmPassword') {
                const passwordValue = document.getElementById('password').value;
                if (input.value !== passwordValue) {
                    errors.push('Passwords do not match.');
                }
            }
            
            if (errors.length > 0) {
                errors.forEach(msg => {
                    const p = document.createElement('p');
                    p.textContent = msg;
                    container.appendChild(p);
                });
            }

            return errors.length === 0;
        }

    </script>
</body>