.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.joinClubSection {
    padding: 1rem;
    max-width: 320px;
    width: 100%;
    background: aliceblue;
}

#form {
    margin-top: 2rem;
}

input {
    width: 100%;
}

.error {
    color: red;
}

.joinClubBtn {
    margin-top: 2rem;
    display: flex;
    justify-self: center;
    background: black;
    color: white;
    padding: 0.2rem 0.6rem;
}