body {
    background-color: var(--primary-bgc);
}

#app {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    color: var(--primary-clr);
    padding: 0.5rem;
}

.auth-page {
    width: 100%;
    max-width: 724px;
    background-color: var(--secondary-bgc);
    padding: clamp(1rem, calc(0.2079rem + 3.9604vw), 2rem);
    border: 1px solid var(--primary-border);
}

.auth-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.auth-card h1 {
    font-size: var(--h1-fs);
    text-align: center;
}

.auth-card form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--p-fs);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#username,
#password {
    background-color: var(--tertiary-bgc);
    border: 1px solid var(--primary-border);
    padding: 0.3rem 0.6rem;
}

#username:focus,
#password:focus {
  outline: none;
  border-color: #3C6FA3;
  box-shadow: 0 0 0 3px rgba(60,111,163,0.25);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    font-size: var(--a-fs);
}

.signIn-btn {
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--primary-border);
    background-color: var(--tertiary-bgc);
}

.back-btn {
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--primary-border);
    text-decoration: none;
    background-color: var(--tertiary-bgc);
}

.back-btn:hover,
.signIn-btn:hover {
    transform: translateY(1px);
}

.auth-footer {
    font-size: var(--p-fs);
}